<header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a [routerLink]="['/']" class="navbar-brand">
            <b>Ifood</b>
          </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" (click)="collapse = !collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
  
        <div id="navbar-collapse" [ngClass]="collapse ? 'navbar-collapse pull-left collapse in' : 'collapse navbar-collapse pull-left'">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active">
              <a [routerLink]="['/restaurants']">Restaurantes</a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/about']">Sobre</a>
            </li>
          </ul>
        </div>
  
      </div>
    </nav>
  </header>