<section class="content-header">
    <h1>Sobre</h1>
  </section>

  <section class="content">
      <p class="lead">
        Aplicação inspirada no Ifood para demonstra as features do Angular
      </p>
      <p class="lead">
        Feito por: Vinicius Navarro Fonseca
      </p>
      
    <a href="https://github.com/vinifonseca/Ifood2.0" target="_blank">
        <i class="fa fa-github" style="font-size: 50px; cursor: pointer;"></i>
    </a> 
    <a href="https://www.linkedin.com/in/vinicius-navarro-fonseca-3b7ab2a6/" target="_blank">
        <i class="fa fa-linkedin" style="font-size: 50px; cursor: pointer; margin-left: 20px"></i>
    </a> 

</section>
